<form action="<%= action %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="_method" value="<%= request_type %>">

  <label>Title:<br>
    <input type="text" name="post[title]" value="<%= post.title %>">
  </label>
  <br>
  <label>Url:<br>
    <input type="text" name="post[url]" value="<%= post.url %>">
  </label>
  <br>
  <label>Content<br>
    <textarea name="post[content]"><%= post.content %></textarea>
  </label>
  <br>
  <input type="hidden" name="post[sub_ids][]" value="">
  <% subs.each do |sub| %>
    <input type="checkbox"
           name="post[sub_ids][]"
           value="<%= sub.id %>"
           <%= "checked" if post.sub_ids.include?(sub.id) %>
           ><%= sub.title %><br>
  <% end %>

  <input type="submit" value="<%= submit_value %>">
</form>
