<h1><%= @post.title %></h1>
<h3>Posted by <%= @post.author.username %>
      <%= time_ago_in_words(@post.created_at) %> ago.</h3>
<h5>URL: <%= @post.url.blank? ? "No url given" : @post.url  %></h5>
<p>Content: <%= @post.content.blank? ? "No post content" : @post.content %></p>

<h3>Comments</h3>
<br>
<% @comments[nil].each do |comment| %>
  <%= render comment %>
  <br>
<% end %>

<%= button_to "Add comment", new_post_comment_url(@post), method: :get %>
